#post_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;
    .date {
      font-size: .8em;
      margin: 0;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: $dark;
        &:hover {
          color: $highlight;
        }
      }
    }
    hr {
      margin: 3em auto;

    }
  }
}


// Pagination styling

.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

.pagination:after {
  clear: both;
}

.pagination {
  text-align: center;
  margin: 0 0 2.5em 0;
  a, .previous_page, .current, .next_page {
    padding: .8em 1em;
    margin: 0 .35em;
    border-radius: .2em;
    line-height: 20px;
    text-decoration: none;
    background: $white;
    font-weight: 700;
    font-size: .8em;
    font-style: normal;
    color: $dark;
    &:hover {
      background: $highlight;
      color: $white;
    }
  }
  .current {
    background: $highlight;
    color: $white;
  }
  .disabled {
    color: #bababa;
    &:hover {
      color: #bababa;
      background: $white;
    }

  }
}
